mkdocs-jupyter
ipython-sql
psycopg2-binary
SQLAlchemy==1.4.46
matplotlib
seaborn
plotly
pyvista==0.38.1
ipympl
ipycanvas
pythreejs
ipygany
trame
ipyvtklink

# https://github.com/danielfrg/mkdocs-jupyter/issues/96
# https://github.com/danielfrg/mkdocs-jupyter/issues/121
nbconvert==6.5.4
mkdocs-minify-plugin>=0.3
mkdocs-redirects>=1.0
pillow>=9.0
cairosvg>=2.5
jinja2>=3.0
markdown>=3.2
mkdocs>=1.4.2
mkdocs-material-extensions>=1.1
pygments>=2.14
pymdown-extensions>=9.9.1
colorama>=0.4
regex>=2022.4.24
requests>=2.26
material